html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section.home,
section.slide-wrapper {
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
}

section.home {
  display: grid;
  place-items: center;
  background-color: white;
  color: rgb(19, 19, 19);
  position: relative;
}
section.home h1 {
  /* text-align: center; */
  animation: title_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-size: 6rem;
}
section.home nav {
  position: absolute;
  top: 0;
  width: 100%;
}
section.home nav svg {
  position: absolute;
  top: -10px;
  width: 100%;
}
section.home .waves {
  opacity: 0.9;
}
section.home .waves,
.waves svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* section.rxjs {
  background-color: #ba2ad2;
  color: white;
} */
section.ngrx {
  background-color: #412945;
  color: wheat;
}
@keyframes title_show {
  0% {
    opacity: 0;
    transform: translatex(-100%);
  }
  100% {
    opacity: 1;
    transform: translatex(0rem);
  }
}

/* Query resolution */
@media all and (orientation: landscape) {
  section.home h1 {
    font-size: 3rem;
  }
}
